.contenedor{
    display: inline-flex;
    flex-direction: column;
    border:5px solid black;
    height: 450px;
    width: 450px;
    align-items: flex-end;
}

.cajaRoja{
    display: flex;
    background-color: red;
    width: 150px;
    height: 150px;
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
}

.cajaAzul{
    display: flex;
    background-color: blue;
    width: 150px;
    height: 150px;
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
}

.cajaVerde{
    display: flex;
    background-color: green;
    width: 150px;
    height: 150px;
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
}