h1 {
    color: darkcyan;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    text-shadow: 10px 10px 6px rgba(0,0,0,0.6);
}

h3 { 
    color: rgb(26, 3, 63);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100 */
    background: #d0e4f7;
    /* Old browsers */
    background: -moz-linear-gradient(left, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0e4f7', endColorstr='#87bcea', GradientType=1);
    /* IE6-9 */
    box-shadow: 10px 10px 12px black;

}

.imag {
    border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    border: 23px groove #0a76d58e;
    box-shadow: 10px 10px 12px black;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black;
}

.resaltado {
    font-size: 18px;
    color: indigo;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.caja {

    background-color: lightblue;
    width: 300px;
    border: solid 3px rgb(141, 178, 224);
    padding: 10px;
    margin: 20px;
    border-radius: 50px 50px 50px 50px;
}

ol {
    font-size: 16px;
    color: brown;
    background-color: burlywood;
}